body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size: 50px;
}
span{
    color: coral;
}
h4{
    font-size: 30px;
    color: rgb(241, 81, 53);
}
p{
    color: rgba(41, 12, 12, 0.856);
    font-size: 20px;
}
section{
    display: flex;
}
.head{
    width: 50%;
}
.head img{
    width: 70%;
}
.text{
    padding-left: 100px;
}
.img{
    padding-top: 40px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 148, 3),rgb(255, 251, 0));
    border-radius: 5px;
    padding: 8px 30px;
    color: rgb(247, 244, 241);
    font-weight: 700;
}